body {
    background-color: azure;
    text-align: center;
    align-items: center;
}

input {
    width: 300px;

}
.container {
    background-color: brown;
    margin: 0 auto;
    max-width: 1000px;
    align-content: center;

}

.row {
    background-color: bisque;
    
}

.column {
    padding: 10px, 0;
    margin: 10px, 0;
    width: 100%;
}