body { 
  background: url(library.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: cursive;
  
}
input {
    width: 300px;
    
}
.container {
   
    margin: 0 auto;
    max-width: 1000px;
    align-content: center;
   
}
#button{
    margin: 20px;
    
}

h1{
    padding-top: 10px;
    margin-bottom: 10px;
    color: purple;
    font-weight: bold;
}
.form-group{
    padding: 10px;
    color:coral;
}
